.app__about-business {
  position: absolute;
  width: 60%;
  padding: 20px 50px;
  box-shadow: 0 0.438rem 1.875rem -0.625rem #5c8986;
  text-align: center;
  background-color: #3e9789;
  border-radius: 0.5rem;
  bottom: 70%;
  left: 16.5%;
  z-index: 10;
}

.app__about-business p,
.app__about-business > h3 {
  color: #fff;
}
