.item__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 85%;
  margin: 1rem auto;
  padding: 1rem 0;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.438rem 1.875rem -0.625rem #5c8986;
  background-color: #f5f5f5;
}

.item__details-title-card {
  width: 40%;
}

.item__details-card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.438rem 1.875rem -0.625rem #5c8986;
}

.item__details-padding-price-to-totalPrice {
  padding: 0 6rem;
}

.item__details-card-price,
.item__details-card-quantity,
.item__details-card-discount,
.item__details-card-total-price {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
}

.item__details-card-price,
.item__details-card-discount,
.item__details-card-total-price {
  justify-content: space-between;
}

.item__details-card-total-price {
  margin-top: 0.5rem;
}
.item__details-card-quantity {
  width: 100%;
  margin-left: 23%;
}

.item__details-card-discount {
  margin-top: 0.5rem;
}
.item__details-card-discount p {
  margin-bottom: 0;
}

.item__details-card--buttons {
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 0.1rem solid #d3d3d3;
}

.item__details-card--buttons button {
  background-color: #486b68;
  color: #fff;
  width: 60%;
  height: 2.5rem;
  margin: 0.5rem;
  border: 0;
  cursor: pointer;
}

.item__details-card--buttons button:hover {
  background-color: #5c8986;
}

.item__description {
  max-width: 83%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.438rem 1.875rem -0.625rem #5c8986;
  background-color: #f5f5f5;
}
