

.service_wrapper {
  text-align: center;
  padding: 1rem;
}
.main {
display: flex;
flex-wrap: wrap;
margin: 3rem;
align-items: center;
background-color: white;
border-radius: 0.5rem;
box-shadow:  0 0.438rem 1.875rem -0.625rem #5c8986;
}
.main .card_image_flex {
  width: 50%;
  
}
.main .card_image_flex img {
width: 100%;
padding: 0.5rem;
padding-top:0.7rem;
}
.main .card_details_flex {
  width: 50%;
  padding: 1rem;
}

/* p {
  background-color: white;
border-radius: 0.5rem;
box-shadow:  0 0.438rem 1.875rem -0.625rem #5c8986;
} */

.p_first {
  background-color: white;
border-radius: 0.5rem;
box-shadow:  0 0.438rem 1.875rem -0.625rem #5c8986;
margin: 3rem;
padding: 2rem;
}
