.app__about-business {
  width: 60%;
  height: 50%;
  padding: 20px 50px;
  border: 1px solid #009688;
  margin: 16.5%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.app__about-business {
  text-align: justify;
}
