.loading_container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

.loading_container .load{
    position:relative;
    width:4rem;
    height:4rem;
}

.loading_container .load span{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: rotate(calc(200deg * var(--i)));
    transform: rotate(calc(18deg * var(--i)))
}

.loading_container .load span::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:0.7rem;
    height:0.7rem;
    border-radius: 50%;
    background: #334c4a;
    animation: animate  1s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate 
{
    0%{
        transform: scale(1);
    }
    80%,100%{
        transform: scale(0);
    }
    
}




