.app__HardwareSolution {
  width: 60%;
  height: 50%;
  padding: 20px 50px;
  box-shadow: 0 0.438rem 1.875rem -0.625rem #5c8986;
  background-color: #fff;
  margin: 16.5%;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
}

.app__HardwareSolution__paragraph {
  text-align: center;
}

.HardwareSolution {
  text-align: center;
}

.app__btn__shop {
  width: 30%;
  margin: 0 auto;
}

.btn__shop {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 50px;
  border: none;
  cursor: pointer;
  width: 70%;
  border-radius: 5px;
  align-items: center;
}

.btn__shop:hover {
  opacity: 0.8;
}
