@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  font-family: "Playfair Display", serif;
}
.team {
  width: 60%;
  padding: 1rem;
}

.img-display img {
  width: 100%;
  border-radius: 50%;
}
.team-info {
}
h2 {
  font-size: 40px;
}
h1 {
  color: rgb(74, 124, 233);
}

